<%= simple_form_for [:admin, @article] do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :source_name %>
    <%= f.input :source_url %>
    <%= f.input :poster_name %>
    <%= f.association :category %>
  </div>

  <div class="form-actions">
    <%= link_to 'Cancel', admin_articles_path, class: 'btn btn-default' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
