<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :source_name %>
    <%= f.input :source_url %>
    <%= f.input :poster_name %>
    <%= f.input :twitter_shared_count %>
    <%= f.input :facebook_shared_count %>
    <%= f.input :shared_count %>
    <%= f.input :deleted_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
