<h1>Listing articles</h1>

<%= link_to 'New Article', new_admin_article_path, class: 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tweeted count</th>
      <th>Shared count</th>
      <th>Score</th>
      <th>Category</th>
      <th>Released?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, admin_article_path(article) %></td>
        <td><%= article.tweeted_count %></td>
        <td><%= article.shared_count %></td>
        <td><%= article.score %></td>
        <td><%= article.category.name %></td>
        <td><%= article.displayable_status %></td>
        <td><%= link_to 'Edit', edit_admin_article_path(article), class: 'btn btn-sm btn-default' %></td>
        <td><%= link_to 'Destroy', admin_article_path(article), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @articles %>
