<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Source name:</strong>
  <%= @article.source_name %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @article.source_url %>
</p>

<p>
  <strong>Poster name:</strong>
  <%= @article.poster_name %>
</p>

<p>
  <strong>Twitter shared count:</strong>
  <%= @article.twitter_shared_count %>
</p>

<p>
  <strong>Facebook shared count:</strong>
  <%= @article.facebook_shared_count %>
</p>

<p>
  <strong>Shared count:</strong>
  <%= @article.shared_count %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @article.deleted_at %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
