<div class="row">
  <% @articles.each do |article| %>
    <div class="one-post">
      <h2 class="title"><%= link_to article.title, article %></h2>
      <span class="post-time"><span class="fui-time"></span><%= article.created_at %></span>
      <div class="post-image">
        <%= link_to article.thumbnail_tag, article %>
      </div>
      <p class="post-description thumb-description">
        <%= article.description %>
      </p>
      <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
          <%= link_to article do %>
            <div class="read-more">
              kasi habis baca<span class="fui-arrow-right"></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <%= paginate @articles %>
</div>
