<% content_for :title do %>
  <%= "#{@article.title} | #{t('service_name')}" %>
<% end %>

<% content_for :breadcrumb do %>
  <div class="row">
    <ul class="breadcrumb">
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <%= link_to root_url, itemprop: 'url' do %>
          <span itemprop="title">Top</span>
        <% end %>
      </li>
      <li class="active">
        <%= @article.title %>
      </li>
    </ul>
  </div>
<% end %>

<% content_for :og_title do %>
  <meta property="og:title" content="<%= "#{@article.title} | #{t('service_name')}" %>">
<% end %>

<% if @article.description.present? %>
  <% content_for :og_description do %>
    <meta property="og:description" content="<%= "【#{t('service_name')}】#{@article.description}" %>">
  <% end %>

  <% content_for :meta_description do %>
    <%= "【#{t('service_name')}】#{@article.description}" %>
  <% end %>
<% end %>

<% content_for :og_url do %>
  <meta property="og:url" content="<%= request.original_url %>">
<% end %>

<% content_for :og_image do %>
  <meta property="og:image" content="<%= @article.thumbnail_image_url %>">
<% end %>

<%= render partial: 'shared/article', locals: { article: @article } %>

<div class="row">
  <h2 class="relative-title">cerita berkaitan</h2>
  <% @related_articles.in_groups_of(2) do |articles| %>
    <div class="col-md-6">
      <div class="row">
        <% articles.each do |article| %>
          <article class="relative-post">
            <%= link_to article do %>
              <div class="inner">
                <%= article.relative_thumbnail_tag %>
                <div class="relative-post-title"><%= article.title %></div>
              </div>
            <% end %>
          </article>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
