<div class="row">
  <article class="one-post">
    <h1 class="title"><%= article.title %></h1>
    <span class="post-time"><span class="fui-time"></span><%= article.created_at %></span>
    <% article.media.each do |medium| %>
      <%= render partial: 'shared/medium_tag', locals: { medium: medium } %>
    <% end %>
    <% if article.source? %>
      source: <%= article.source %>
    <% end %>
    <p class="post-description">
      <%= article.description %>
    </p>
    <div class="share-block">
      <div class="block">
        <%= link_to 'tweet', "https://twitter.com/intent/tweet?url=#{request.original_url}&text=#{article.title.gsub(/\|/, '｜').gsub(/"/, "'")}｜KUPI KUPI DULU&original_referer=#{request.original_url}&hashtags=kupikupidulu", class: 'tw-btn' %>
      </div>
      <div class="block">
        <%= link_to 'share', "http://www.facebook.com/sharer.php?u=#{request.original_url}", class: 'fb-btn' %>
      </div>
    </div>
  </article>
</div>
