<div class="row">
  <article class="one-post">
    <h1 class="title"><%= article.title %></h1>
    <span class="post-time"><span class="fui-time"></span><%= article.created_at %></span>
    <div class="source">
      <% article.media.each do |medium| %>
        <%= render partial: 'shared/medium_tag', locals: { medium: medium } %>
      <% end %>
    </div>
    <% if article.source? %>
    <blockquote>
      source: <%= article.source %>
    </blockquote>
    <% end %>
    <p class="post-description">
      <%= article.description %>
    </p>
    <div class="row">
      <div class="col-md-6">
        <%= link_to "https://twitter.com/intent/tweet?url=#{request.original_url}&text=#{article.title.gsub(/\|/, '｜').gsub(/"/, "'")}｜KUPI KUPI DULU&original_referer=#{tweet_article_url(only_path: false)}&hashtags=kupikupidulu", class: 'tw-btn share-btn', data: { :'share-url' => tweet_article_url(article) } do %>
          <%= image_tag 'twitter.png' %><span class="text">share di twitter</span>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= link_to "http://www.facebook.com/sharer.php?u=#{request.original_url}", class: 'fb-btn share-btn', data: { :'share-url' => share_article_url(article) }  do %>
          <%= image_tag 'facebook.png' %><span class="text">share di facebook</span>
        <% end %>
      </div>
    </div>
  </article>
</div>
