<% content_for :title do %>
  Kontek | kupi kupi dulu
<% end %>

<% content_for :breadcrumb do %>
  <div class="row">
    <ul class="breadcrumb">
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <%= link_to root_url, itemprop: 'url' do %>
          <span itemprop="title">Top</span>
        <% end %>
      </li>
      <li class="active">
        Kontek
      </li>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="contact">
    <div class="page-header">
      <h1>Kontek</h1>
    </div>
    <div class="col-sm-12">
      <%= simple_form_for @contact, html: { class: 'form-horizontal' } do |f| %>
        <%= f.error_notification %>

        <%= f.input :name, placeholder: 'taip nama kau di sini!', label: 'nama kau(misti mau)' %>
        <%= f.input :email, placeholder: 'taip email kau di sini!', as: :email, label: 'email kau(misti mau)' %>
        <%= f.input :medium, placeholder: 'taip link gambar/video kau di sini!', as: :email, label: 'tajuku gambar/video kau' %>
        <p>kalau tiada link, hantar gambar/video kau pigi contact@kupikupidulu.com</br>
        *kami buli terima link video youtube saja ok!</p>
        <%= f.input :content, placeholder: 'taip cerita pasal gambar/video kau di sini!', as: :text, label: 'cerita pasal gambar/video kau' %>
        <div class="form-group">
          <%= f.submit 'kirim kasi kami', data: { disable_with: 'Sending...' }, class: %w(btn btn-primary btn-block) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
