<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @medium.article %>
</p>

<p>
  <strong>File:</strong>
  <%= @medium.file %>
</p>

<p>
  <strong>File tmp:</strong>
  <%= @medium.file_tmp %>
</p>

<p>
  <strong>Url:</strong>
  <%= @medium.url %>
</p>

<p>
  <strong>Type:</strong>
  <%= @medium.type %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
