<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : t('service_name') %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no">
    <% if content_for?(:meta_description) || current_page?(root_path) %>
      <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : "#{t('service_name')} #{t('service_message')}" %>">
    <% end %>
    <% if content_for? :og_title %>
      <%= yield :og_title %>
    <% else %>
      <meta property="og:title" content="<%= t('service_name') %>">
    <% end %>
    <% if content_for? :og_description %>
      <%= yield :og_description %>
    <% else %>
      <meta property="og:description" content="<%= "#{t('service_name')} #{t('service_message')}" %>">
    <% end %>
    <% if content_for? :og_url %>
      <%= yield :og_url %>
    <% else %>
      <meta property="og:url" content="http://kupikupidulu.com/">
    <% end %>
    <% if content_for? :og_image %>
      <%= yield :og_image %>
    <% else %>
      <meta property="og:image" content="<%= asset_url 'og_image.png' %>">
    <% end %>

    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag %>
  </head>
  <body class="<%= controller.controller_name %>">
    <header>
      <div class="container">
        <div class="row">
          <div class="header">
            <div class="navbar-inner">
              <h1>
                <%= link_to " #{t('service_name')} ", root_path %>
              </h1>
              <h6>
                <%= t('service_message') %>
              </h6>
            </div>
          </div><!-- col -->
        </div><!-- row -->
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 flash">
          <% flash.each do |name, msg| %>
            <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <div class="message">
                <%= msg %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <% if !(/^admin\// =~ params[:controller] || params[:controller] == 'sessions') %>
          <div class="col-sm-7">
            <%= yield :breadcrumb %>
            <%= yield %>
          </div> <!-- col -->
          <div class="col-sm-5">
            <div class="ranking">
              <h5 class="ranking-title">★ Palng fames</h5>
              <ul class="media-list">
                <% @popular_articles.each.with_index(1) do |article, no| %>
                  <li class="media">
                    <%= link_to article do %>
                      <div class="pull-left"><%= article.thumbnail_image_tag %></div>
                      <div class="media-body">
                        <h4 class="media-heading"><%= "No.#{no}" %></h4>
                        <p class="media-title"><%= article.title %><span class="fui-arrow-right"></p>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div><!-- col -->
        <% else %>
          <div class="col-sm-12">
            <%= yield :breadcrumb %>
            <%= yield %>
          </div> <!-- col -->
        <% end %>
      </div><!-- row -->
    </div><!-- container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>
              <%= link_to contact_path do %>
                <span class="glyphicon glyphicon-envelope"></span> support
              <% end %>
            </p>
            <p>Copyright &copy; <%= link_to t('service_name'), root_path %></p>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </footer>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
